/* page index  */
.index-body {
    background-image: url("/images/nikola-majksner-hXNGeAFOgT4-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.logo img {
    width: 100px;
    height: 80px;
    position: relative;
    left: 20px;
    top: 10px;

}

#logo-text {
    margin-top: 7px;
    color: #18219e;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: large;
    position: relative;
}

.titre-centre {
    text-align: center;
    margin-top: 200px;
}

.titre-centre h1 {
    font-family: Times, Times New Roman, serif;
    font-size: 80px;
    position: relative;
    background-color: rgb(102, 158, 102);
    opacity: 0.8;
    padding: 5px 530px;
    background-clip: content-box;
}

.video-youtube {
    color: rgb(222, 193, 245);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.video-youtube:hover {
    color: rgb(130, 229, 236);
}

.navigation {
    position: absolute;
    top: 20px;
    right: 30px;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 30px;
}

.navigation a:hover {
    color: rgb(168, 71, 168);
}

.navigation a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: xx-large;
}

.block-bas {
    background-color: #252525;
    position: fixed;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: #7c7a7a;
}


/* page qui-sommes-nous  */
.body-nous {
    background-color: rgb(105, 105, 231);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
}

.container-page-org {
    overflow: auto;
    width: 80%;
    height: 90%;
    /*border: 10px solid#252525;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.body-nous p {
    font-size: 44px;
    font-family: Optima, sans-serif;
    width: 800px;
    height: 950px;
    font-weight: 700;
    text-align: center;
    color: rgb(229, 245, 161);
    border: 3px solid rgb(195, 207, 82);
    border-radius: 12px;
    padding: 5px;
}

#image1 {
    display: flex;
    width: 700px;
    height: 950px;
    border-radius: 8px;
}

#image2 {
    display: flex;
    width: 500px;
    height: 950px;
    border-radius: 8px;
}

#image3 {
    display: flex;
    width: 700px;
    height: 900px;
    border-radius: 8px;
}

.p2 {
    flex-grow: 1;
}

#p1-contenu {
    font-size: 53px;
}

#p2-contenu {
    width: 1000px;
    font-size: 55px;
}

#p3-contenu {
    font-size: 58px;
}

.container {
    position: relative;
    width: 50%;
}

div.menu-nous {
    position: fixed;
    top: 0;
    background-color: #bbe086;
    height: 100px;
    width: 100%;
  }