/**/
/* page index  */
/**/
.index-body {
    background-image: url("/images/nikola-majksner-hXNGeAFOgT4-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div.menu-index {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #bbe086;
    height: 110px;
    width: 100%;
}

.logo img {
    width: 100px;
    height: 80px;
    position: relative;
    left: 20px;
    top: 1px;
}

#logo-text {
    margin-top: 1px;
    color: #216e1a;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: medium;
    position: relative;
    left: 12px;
    bottom: 8px;
}

.titre-centre {
    text-align: center;
    margin-top: 200px;
}

.titre-centre h1 {
    font-family: Times, Times New Roman, serif;
    font-size: 80px;
    position: relative;
    background-color: rgb(102, 158, 102);
    opacity: 0.8;
    padding: 5px 530px;
    background-clip: content-box;
}

.video-youtube {
    color: rgb(222, 193, 245);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.video-youtube:hover {
    color: rgb(130, 229, 236);
}

.navigation {
    position: absolute;
    top: 40px;
    right: 30px;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 30px;

}

.navigation a:hover {
    color: rgb(168, 71, 168);
}

.navigation a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: xx-large;
}

.block-bas {
    background-color: #252525;
    position: fixed;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: #7c7a7a;
}

/**/
/* page qui-sommes-nous  */
/**/
.body-nous {
    background-image: linear-gradient(to bottom,
            rgb(238, 212, 163) 0, rgb(238, 212, 163) 35%,
            rgb(159, 133, 192) 35%, rgb(159, 133, 192) 66%,
            rgb(238, 212, 163) 66%, rgb(238, 212, 163) 96%,
            rgb(22, 18, 18) 96%,rgb(22, 18, 18) 100%);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
}

.container-page-org {
    overflow: auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.body-nous p {
    font-size: 40px;
    font-family: oswald-medium, oswald, sans-serif;
    width: 800px;
    height: 950px;
    font-weight: 700;
    text-align: center;
    color: rgb(20, 20, 19);

    border-radius: 12px;
    padding: 5px;
}

#image1 {
    display: flex;
    width: 700px;
    height: 950px;
    border-radius: 8px;
    border: 3px solid#252525;
}

#image2 {
    display: flex;
    width: 500px;
    height: 950px;
    border-radius: 8px;
    border: 3px solid#252525;
}

#image3 {
    display: flex;
    width: 700px;
    height: 900px;
    border-radius: 8px;
    border: 3px solid#252525;
}

.p2 {
    flex-grow: 1;
}

#p1-contenu {
    font-size: 53px;
}

#p2-contenu {
    width: 1000px;
    font-size: 55px;
}

#p3-contenu {
    font-size: 58px;
}

#joint-nous:hover {
    color: rgb(34, 148, 62);
}

#joint-nous {
    color: rgb(119, 82, 221);
    text-decoration: underline;
}

.container {
    position: relative;
    width: 50%;
}

div.menu-nous {
    position: fixed;
    top: 0;
    background-color: #f09df0;
    height: 110px;
    width: 100%;
}

.navigation-nous {
    position: absolute;
    top: 40px;
    right: 30px;
}

.navigation-nous ul {
    padding: 0;
    margin: 0;
}

.navigation-nous li {
    display: inline-block;
    margin-left: 30px;
}

.navigation-nous a:hover {
    color: rgb(241, 218, 184);
    text-shadow: 2px 2px 4px #ff7b00;
}

.navigation-nous a {
    color: rgb(96, 82, 221);
    font-weight: bold;
    text-decoration: none;
    font-family: oswald-medium, oswald, sans-serif;
    font-size: xx-large;
}
/**/
/* page actualites  */
/**/

div.menu-actual {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2ffb8;
    height: 80px;
    width: 100%;
    z-index: 10;
}
.logo-actual img {
    width: 80px;
    height: 60px;
    position: relative;
    left: 400px;
    top: 11px;
}
#logo-text-actual {
    margin-top: -12px;
    color: #24771c;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    position: relative;
    left: 480px;
    bottom: 29px;
}

.navigation-actual {
    position: absolute;
    top: 40px;
    right: 30px;
}

.navigation-actual ul {
    padding: 0;
    margin: 0;
}

.navigation-actual li {
    display: inline-block;
    margin-left: 30px;
}

.navigation-actual a:hover {
    color: rgb(208, 126, 240);
    text-shadow: 2px 2px 4px #6e0761;
}

.navigation-actual a {
    color: #24771c;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    bottom: 5px;
    right: 300px;
    font-family: oswald-medium, oswald, sans-serif;
    font-size: 30px;
}
.container-actual{
    width: 100vw;
    height: 300vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 10fr 0.8fr;
    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "footer footer footer";
}

.actual-element1{
    grid-area: header;
    background-color: #ffffff;
}
.actual-element2{
    grid-area: sidebar;
    background-image: linear-gradient(to bottom,
            #9feefc 0, #9feefc 49.95%,
            #ffbd7f 49.95%, #ffbd7f 100%);
}

.actual-contenu{
    grid-area: content;
    background-image: linear-gradient(to bottom,
            #9feefc 0, #9feefc 49.95%,
            #ffbd7f 49.95%, #ffbd7f 100%);
}

#image1-actual{
    width: 100%;
    height: 50%;
    opacity: 0.8;
    position:static;
}
#image2-actual{
    width: 100%;
    height: 49.8%;
    opacity: 0.8;
    position:static;
}

.actual-element4{
    grid-area: footer;
    background-color: #313131;
}

