/* page index  */
.index-body {
    background-image: url("/images/nikola-majksner-hXNGeAFOgT4-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.logo img {
    width: 100px;
    height: 80px;
    position: relative;
    left: 20px;
    top: 10px;

}

#logo-text {
    margin-top: 7px;
    color: #489948;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: large;
    position: relative;
}

.titre-centre {
    text-align: center;
    margin-top: 200px;
}

.titre-centre h1 {
    font-family: Times, Times New Roman, serif;
    font-size: 80px;
    position: relative;
    background-color: rgb(102, 158, 102);
    opacity: 0.8;
    padding: 5px 530px;
    background-clip: content-box;
}

.video-youtube {
    color: rgb(222, 193, 245);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.video-youtube:hover {
    color: rgb(130, 229, 236);
}

.navigation {
    position: absolute;
    top: 20px;
    right: 30px;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 30px;
}

.navigation a:hover {
    color: rgb(168, 71, 168);
}

.navigation a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: xx-large;
}

.block-bas {
    background-color: #252525;
    position: fixed;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: #7c7a7a;
}


/* page qui-sommes-nous  */
.body-nous {
    background-color: rgb(20, 20, 150);
    color: rgb(179, 193, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenu {
    display: flex;
    align-items: center;
    border: 2px;
    max-width: 70%;
}

.intro {
    width: 50%;
    padding: 20px;
}

.image {
    width: 60%;
    padding: 100px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.intro h1 {
    font-size: 30px;
    font-family:Optima, sans-serif ;
    font-weight: bolder;
}

.intro p {
    font-size: 45px;
    font-family: Optima, sans-serif;
}